body {
  line-height: 1.6;
  color: #fff;
  background: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.stop {
  overflow: hidden;
}

#page {
  position: relative;
  transition: 1s all ease-in-out;
}
#page.menuopen {
  opacity: 0.6;
  filter: blur(20px);
  transform: scale(1.2);
}
.carousel-inner img {
  width: 100%; 
  margin: auto;
}
/* ------------------------------------------------------------------------ */
@media (min-width: 600px) {
  .carousel-img{
    height: 100vh !important;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img{
    height: 700px!important;
  }
  header nav {
    width: 1000px!important;
  }
  header nav a {
    font-size: 30px!important;
    color: #ffd700!important;
  }
  header #logo {
    top: 200px!important;
    width: 350px!important;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 px wide */
  }
 
  }
.read_more {
  text-align: center;
  float: right;
}
.col-sm-9 .form-control {
  background-color: #fff !important;
  color: #414141; 
}
.col-sm-3 .btn {  /* subscribe button */
  background-color: rgba(45,45,48,0.8);
  border-color: #000;
  color: #fff; 
  border-radius: 0; 
}
.col-sm-3 .btn:hover {
  background-color: #2d2d30;
}
@media screen and (max-width: 768px) {
.col-sm-3 {
  margin-top: 0.666em; /* Indent to button when the screen is less than 768 px wide */ 
}
}
footer {
  padding: 2em;
}
footer > p {
color: #111; 
}
.glyphicon-envelope,.glyphicon-phone,.glyphicon-copyright-mark {
  margin-right: 5px;
}


/* ------------------------------------------------------------------------ */
section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #fff;
  position: relative;
}
section:after {
  content: "";
  position: relative;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
section h1 {
  margin-top: 130px;
  font-size: 120px;
  /* margin: 0; */
  z-index: 2;
  position: relative;
}
 .prices, .services, .contacts{
 /* background-image:url(/img/price\ list\ betti.jpg) repeat-x;*/
 /* background-image:url(/img/price\ list\ betti.jpg); */
 background-repeat: no-repeat;
 background-size:contain;
 background-position: center;
 overflow: hidden;
 
}
/* services */
/* a {
  text-decoration: none !important;
}
.center-heading {
text-align: center;
}

.center-heading .section-title {
font-weight: 400;
font-size: 28px;
color: #C1A057;
letter-spacing: 1.1px;
line-height: 38px;
margin-bottom: 20px;
}

.center-heading.colored .section-title {
color: #ffffff;
}

.center-text {
text-align: center;
font-weight: 400;
font-size: 16px;
color: #c1A057;
line-height: 28px;
letter-spacing: 1px;
margin-bottom: 50px;
}

.center-text.colored {
color: black; /*text*/
/*}

.center-text p {
margin-bottom: 30px;
}

.services-small-item {
display: block;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 40px 28px;
text-align: center;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 2;
margin-bottom: 30px;
}

.services-small-item:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
border-radius: 5px;
background-image: linear-gradient(135deg, #FFFA8A 0%, #C1A057 100%);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
opacity: 0;
}
.services-small-item.active:before, .services-small-item:hover:before {
opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover .icon:before {
opacity: .26;
}

.services-small-item.active .icon i, .services-small-item:hover .icon i {
background: -webkit-linear-gradient(#fff, #fff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title, .services-small-item:hover .services-title {
color: #ffffff;
}

.services-small-item.active p, .services-small-item:hover p {
color: black;
}

.services-small-item.active .button i, .services-small-item:hover .button i {
background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
color: #2b708b !important;
}

.services-small-item:hover {
margin-top: -15px;
}

.services-small-item .icon {
width: 139px;
height: 113px;
margin: auto;
position: relative;
margin-bottom: 20px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}


.services-small-item .icon i {
display: block;
height: 67px;
line-height: 67px;
position: absolute;
width: 100%;
top: 22px;
z-index: 2;
font-size: 28px;
background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
font-weight: 400;
font-size: 16px;
color: #3B566E;
letter-spacing: 0.7px;
margin-bottom: 15px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item p {
font-weight: 400;
font-size: 14px;
color: #6F8BA4;
letter-spacing: 0.88px;
line-height: 26px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
margin-bottom: 30px;
}

.services-small-item .button {
position: relative;
z-index: 2;
}

.services-small-item .button i {
width: 42px;
height: 42px;
background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
line-height: 42px;
text-align: center;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
color: #fff;
padding-left: 3px;
}

.services-small-item:hover + .item-bg {
bottom: 30px;
}

.item-bg {
content: '';
position: absolute;
width: 80%;
height: 15px;
bottom: 15px;
left: 0px;
right: 0px;
margin: auto;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index: 1;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
} */

a {
  text-decoration: none !important;
}
.center-heading {
text-align: center;
}

.center-heading .section-title {
font-weight: 400;
font-size: 28px;
color: #C1A057;
letter-spacing: 1.1px;
line-height: 38px;
margin-bottom: 20px;
}

.center-heading.colored .section-title {
color: #ffffff;
}

.center-text {
text-align: center;
font-weight: 400;
font-size: 16px;
color: #C1A057;
line-height: 28px;
letter-spacing: 1px;
margin-bottom: 50px;
}

.center-text.colored {
color: #C7E5FF;
}

.center-text p {
margin-bottom: 30px;
}

.services-small-item {
display: block;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 40px 28px;
text-align: center;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 2;
margin-bottom: 30px;
}

.services-small-item:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
border-radius: 5px;
background-image: linear-gradient(135deg, #FFFA8A 0%, #C1A057  100%);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
opacity: 0;
}
.services-small-item.active:before, .services-small-item:hover:before {
opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover .icon:before {
opacity: .26;
}

.services-small-item.active .icon i, .services-small-item:hover .icon i {
background: -webkit-linear-gradient(#fff, #fff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title, .services-small-item:hover .services-title {
color: #ffffff;
}

.services-small-item.active p, .services-small-item:hover p {
color: #ffffff;
}

.services-small-item.active .button i, .services-small-item:hover .button i {
background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
color: #2b708b !important;
}

.services-small-item:hover {
margin-top: -15px;
}

.services-small-item .icon {
width: 139px;
height: 113px;
margin: auto;
position: relative;
margin-bottom: 20px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}


.services-small-item .icon i {
display: block;
height: 67px;
line-height: 67px;
position: absolute;
width: 100%;
top: 22px;
z-index: 2;
font-size: 28px;
background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
font-weight: 400;
font-size: 16px;
color: #3B566E;
letter-spacing: 0.7px;
margin-bottom: 15px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item p {
font-weight: 400;
font-size: 14px;
color: #6F8BA4;
letter-spacing: 0.88px;
line-height: 26px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
margin-bottom: 30px;
}

.services-small-item .button {
position: relative;
z-index: 2;
}

.services-small-item .button i {
width: 42px;
height: 42px;
background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
line-height: 42px;
text-align: center;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
color: #fff;
padding-left: 3px;
}

.services-small-item:hover + .item-bg {
bottom: 30px;
}

.item-bg {
content: '';
position: absolute;
width: 80%;
height: 15px;
bottom: 15px;
left: 0px;
right: 0px;
margin: auto;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index: 1;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}



/* services */
.prices{
  background-attachment: fixed;
}
@media (max-width: 600px) {
  .prices, .services, .contacts{
    /* background-image:url(/img/price\ list\ betti.jpg) repeat-x; */
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
  }
} 
header {
  z-index: 99999;
  position: relative;
}
header #logo {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav button {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);
}
header nav button span {
  width: 40%;
  background: #fff;
  height: 2px;
  display: block;
  margin: 5px auto;
  transform: scalex(0);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
}
header nav button:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
header nav button:hover span {
  margin: 10px auto;
}

header.sticky #logo {
  top: 0;
  transform: scale(0.8);
  opacity: 0;
  transition-delay: 0.5s;
}
header.sticky nav {
  top: 20px;
  padding: 0;
  width: 90px;
  height: 90px;
  transition-delay: 0.5s;
}
header.sticky nav button {
  transform: scale(1);
  transition-delay: 0.6s;
}
header.sticky nav button span {
  transform: scalex(1);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
}
header.sticky nav a {
  padding: 0;
  opacity: 0;
  letter-spacing: 0px;
  transform: scale(0.3);
  transition-delay: 0.2s;
}

#fixedlink {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  right: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}
@media (max-width: 600px) {
nav {
  width: 100%;
}
h1{
  width: 100%;
}
}
